<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.xyzbank.utilities.Reporting" />
	</listeners>
	<test name="XYZ Bank Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.xyxbank.tests.CustomerLogin_DepositTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
